<div id="header-container">
        <div>
            <br>
            <div class="logo">
                <img src="assets/effigy-logo.png" alt="The Effigy Logo" width="30%" height="30%"></img>
            </div>
            <nav>
                <ul>
                    <li><a href="index.html" class="active">Home</a></li>
                    <li><a href="merch.html">Merch</a></li>
                    <li><a href="newsletters.html">Newsletters</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                </ul>
            </nav>

        </div>
    </div>