<div id="socials">
    <div class="social-links">
        <a href="https://www.facebook.com/effygoldmusic" target="_blank" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
        <a href="https://twitter.com/theeffigymusic" target="_blank" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
        <a href="https://instagram.com/effygoldmusic" target="_blank" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
        <a href="https://youtube.com/theeffigy" target="_blank" aria-label="YouTube"><i class="fab fa-youtube"></i></a>
        <a href="https://tiktok.com/@effygoldmusic" target="_blank" aria-label="TiKTok"><i class="fa-brands fa-tiktok"></i></i></a>
        <a href="https://theeffigymusic.bandcamp.com/" target="_blank" aria-label="Bandcamp"><i class="fa-brands fa-bandcamp"></i></i></a>
        <a href="https://music.apple.com/us/artist/the-effigy/1605440354" target="_blank" aria-label="Apple Music"><i class="fa-brands fa-apple"></i></i></a>
        <a href="https://music.amazon.com/artists/B07K8TC2PG/the-effigy" target="_blank" aria-label="Amazon Music"><i class="fa-brands fa-amazon"></i></i></a>
    </div>
    </div>